//COLORS
$mainPurple: rgba(105, 65, 199, 1);
$darkPurple: rgba(87, 51, 173, 1);
$black: rgba(13, 15, 20, 1);
$darkGrey: rgba(150, 159, 168, 1);
$lightGrey: rgba(228, 228, 228, 1);
$green: rgba(42, 225, 126, 1);
$lightBG: rgba(248, 248, 250, 1);
$darkBlue: rgba(78, 147, 231, 1);
$lightBlue: rgba(230, 238, 248, 1);
